{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{% endblock %}



{% block content %}

<header class="header">
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'main/img/logo.jpg' %}" alt="Gravity" class="logo">
                </div>
                <div class="offset-md-2 col-md-3">
                    <button class="search">
                        <img src="{% static 'main/img/search.svg' %}" alt="">
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="menu ms-auto">
                        <img src="{% static 'main/img/menu.svg' %}" alt="menu gravity">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="offer-content">
                        <h1 class="offer_cont-title">
                            Work around you and your team
                        </h1>
                        <p class="offer_cont-text">
                            From ads that dance or sing to MTV-like commercials, online advertisers are now using a new type of technology “rich media” to attract consumers.
                        </p>
                        <button class="offer_cont-btc btc">
                            get started
                        </button>
                    </div>
                </div>
                <div class="col-md-6 be-static vh-dependent">
                    <div class="hero">
                        <a href="#!" class="video">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="main">
    <section class="problems">
        <div class="container">
            <div class="row">
                <div class="col-md-5 ">
                    <img src="{% static 'main/img/pic3.jpg' %}" alt="poster" class="poster">
                </div>
                <div class="col-md-6 ms-auto d-flex align-items-center">
                    <div class="about">
                        <h2 class="about_title">
                            We solve digital problems with an outstanding creative flare
                        </h2>
                        <p class="about_text">
                            The best time to view the moon, obviously, is at night when there are few clouds and the weather is accommodating for a long and lasting study.
                        </p>
                        <p class="about_text">
                            For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
                        </p>
                        <div class="about_author">
                            <h4 class="about_name">
                                Denis Shepovalov
                            </h4>
                            <p class="about_dop">
                                Co-Founder & CEO
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--    END FOR PROBLEMS-->

    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section_title">
                        <p class="section_title-label">
                            — Services
                        </p>
                        <h2 class="section_title-heading">
                            We love work hard and explore new things that’s why we cover lot of things. Check our service list and view details
                        </h2>
                    </div>
                </div>
                <div class="col-md-5 ms-auto d-flex justify-content-between">
                    <ul class="serv-list serv-list_left">
                        <li class="serv-list_item">
                            Multimedia
                        </li>
                        <li class="serv-list_item">
                            Interactive design
                        </li>
                        <li class="serv-list_item">
                            Packaging
                        </li>
                        <li class="serv-list_item">
                            Branding
                        </li>
                    </ul>
                    <ul class="serv-list serv-list_right">
                        <li class="serv-list_item">
                            Creative Strategy
                        </li>
                        <li class="serv-list_item">
                            UI/UX
                        </li>
                        <li class="serv-list_item">
                            Coding
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="owl-carousel owl-theme works-carousel">
                        <div class="item">
                            <img src="{% static 'main/img/pic4.jpg' %}" alt="work">
                            <span class="owl-carousel_play">

                            </span>
                        </div>
                        <div class="item">
                            <img src="{% static 'main/img/pic4.jpg' %}" alt="work">
                            <span class="owl-carousel_play">

                            </span>
                        </div>
                        <div class="item">
                            <img src="{% static 'main/img/pic4.jpg' %}" alt="work">
                            <span class="owl-carousel_play">

                            </span>
                        </div>
                        <div class="item">
                            <img src="{% static 'main/img/pic4.jpg' %}" alt="work">
                            <span class="owl-carousel_play">

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--    END SERVICES C KARYSEL'Y-->


    <section class="result">
        <div class="container">
            <div class="row">
                <div class="col-md-6 be-static">
                    <div class="collage">
                        <img src="{% static 'main/img/pic6.svg' %}" alt="word">
                    </div>
                </div>
                <div class="col-md-6 ms-auto d-flex align-items-center">
                    <div class="easy">
                        <h2 class="easy_title">
                            Well thought with super easy to use
                        </h2>
                        <p class="easy_text">
                            As we approached the palace I could see through the great windows of the first floor the brilliantly illuminated audience chamber of Than Kosis. The immense hall was crowded with nobles and their women.
                        </p>
                        <div class="easy_point easy_point-first">
                            Ultimate Result
                        </div>
                        <div class="easy_point easy_point-second">
                            Minimal Design
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
<!--    END-->

<!--WORKS START-->
     <section class="works tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section_title">
                        <p class="section_title-label">
                            — our works
                        </p>
                        <h2 class="section_title-heading">
                            Discover our Work
                        </h2>
                    </div>
                </div>
                <div class="col-md-6 d-flex alight-items-center">
                    <ul class="work-tabs d-flex justify-content-between tabs_caption">
                        <li class="work_tabs-item active">
                            <a href="#!">
                                All
                            </a>
                        </li>
                        <li class="work_tabs-item">
                            <a href="#!">
                                Branding
                            </a>
                        </li>
                        <li class="work_tabs-item">
                            <a href="#!">
                                Web
                            </a>
                        </li>
                        <li class="work_tabs-item">
                            <a href="#!">
                                Development
                            </a>
                        </li>
                        <li class="work_tabs-item">
                            <a href="#!">
                                Films
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col ms-auto">
                    <div class="works_wrap d-flex justify-content-between tabs_content active">
                        <a href="#!" class="works_wrap-item">
                            <img src="{% static 'main/img/pic7.jpg' %}" alt="work">
                        </a>
                        <a href="#!" class="works_wrap-item">
                            <img src="{% static 'main/img/pic8.jpg' %}" alt="work">
                        </a>
                        <a href="#!" class="works_wrap-item">
                            <img src="{% static 'main/img/pic10.jpg' %}" alt="work">
                        </a>
                        <a href="#!" class="works_wrap-item">
                            <img src="{% static 'main/img/pic10.jpg' %}" alt="work">
                        </a>
                        <a href="#!" class="works_wrap-item">
                            <img src="{% static 'main/img/pic11.jpg' %}" alt="work">
                        </a>
                        <a href="#!" class="works_wrap-item">
                            <img src="{% static 'main/img/pic12.jpg' %}" alt="work">
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
<!--START TESTI-->

    <section class="testimonials">
        <div class="container">
            <div class="owl-carousel contri-carousel">
<!--                ONE SLIDE-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="section_title">
                            <p class="section_title-label">
                                — Testimonials
                            </p>
                            <h2 class="section_title-heading">
                                "Professionals in their craft! All products were super great with strong attention to details, and overall vibe"
                            </h2>
                            <div class="contri">
                                <h3 class="contri_title">
                                    Polina Kuzina
                                </h3>
                                <p class="contri_desc">
                                    Manager at Craftwork
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 ms-auto d-flex alight-items-center">
                        <img src="{% static 'main/img/portret.jpg' %}" alt="Polina" class="cont-photo img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="section_title">
                            <p class="section_title-label">
                                — Testimonials
                            </p>
                            <h2 class="section_title-heading">
                                "Professionals in their craft! All products were super great with strong attention to details, and overall vibe"
                            </h2>
                            <div class="contri">
                                <h3 class="contri_title">
                                    Polina Kuzina
                                </h3>
                                <p class="contri_desc">
                                    Manager at Craftwork
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 ms-auto d-flex alight-items-center">
                        <img src="{% static 'main/img/portret.jpg' %}" alt="Polina" class="cont-photo img-responsive">
                    </div>
                </div>
            </div>

        </div>
    </section>
<!--END-->

    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section_title">

                        <h2 class="section_title-heading">
                            Our Clients
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="clients-row">
                        <a href="#!" class="clients-row-item">
                            <img src="{% static 'main/img/pic13.svg' %}" alt="clients">
                        </a>
                        <a href="#!" class="clients-row-item">
                            <img src="{% static 'main/img/pic14.svg' %}" alt="clients">
                        </a>
                        <a href="#!" class="clients-row-item">
                            <img src="{% static 'main/img/pic15.svg' %}" alt="clients">
                        </a>
                        <a href="#!" class="clients-row-item">
                            <img src="{% static 'main/img/pic16.svg' %}" alt="clients">
                        </a>
                        <a href="#!" class="clients-row-item">
                            <img src="{% static 'main/img/pic17.svg' %}" alt="clients">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>


</main>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img class="footer-logo" src="{% static 'main/img/logo-footer.svg' %}" alt="logo-footer">
            </div>
        </div>
    </div>
</footer>




{% endblock %}